################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomeSerilogExample
/CustomeSerilogExample/bin/Debug/net8.0
/CustomeSerilogExample/obj
